In [9]:
pacman::p_load("tidyverse", "ggpubr", 'car', 'broom', 'Matrix')

In [10]:
x <- matrix(c(1,4,7,5,8,9), nrow=3)
x

     [,1] [,2]
[1,] 1    5
[2,] 4    8
[3,] 7    9

In [11]:
x.xt <- x %*% t(x)
x.xt

     [,1] [,2] [,3]
[1,] 26    44   52
[2,] 44    80  100
[3,] 52   100  130

In [12]:
rankMatrix(x.xt)

[1] 2
attr(,"method")
[1] "tolNorm2"
attr(,"useGrad")
[1] FALSE
attr(,"tol")
[1] 6.661338e-16

In [13]:
solve(x.xt)

ERROR: Error in solve.default(x.xt): system is computationally singular: reciprocal condition number = 7.81962e-18

In [14]:


## female student
fm.df <- read_table2("STAT501_Lesson01/stat_females.txt")
head(fm.df)

Parsed with column specification:
cols(
  Height = col_double(),
  momheight = col_double(),
  dadheight = col_double()
)

  Height momheight dadheight
1 66     66        71
2 64     62        68
3 64     65        70
4 69     66        76
5 66     63        70
6 63     61        68

In [15]:
fm.lm <- lm(Height ~ . , data=fm.df)
summary(fm.lm)

Call:
lm(formula = Height ~ ., data = fm.df)

Residuals:
    Min      1Q  Median      3Q     Max
-5.2748 -1.5562 -0.0372  1.4721  5.7993

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 18.54725    3.69278   5.023 1.08e-06 ***
momheight    0.30351    0.05446   5.573 7.61e-08 ***
dadheight    0.38786    0.04721   8.216 2.10e-14 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 2.031 on 211 degrees of freedom
Multiple R-squared:  0.4335,	Adjusted R-squared:  0.4281
F-statistic: 80.73 on 2 and 211 DF,  p-value: < 2.2e-16

In [17]:
round(anova(fm.lm),1)

          Df  Sum Sq Mean Sq F value Pr(>F)
momheight   1 387.7  387.7   94.0     0
dadheight   1 278.5  278.5   67.5     0
Residuals 211 870.5    4.1     NA    NA

In [19]:
round(Anova(fm.lm, type = 3),1)

            Sum Sq Df  F value Pr(>F)
(Intercept) 104.1    1 25.2     0
momheight   128.1    1 31.1     0
dadheight   278.5    1 67.5     0
Residuals   870.5  211   NA    NA

In [21]:
fm.lm.mom <- lm(Height ~ momheight, data=fm.df)
fm.lm.dad <- lm(Height ~ dadheight, data=fm.df)
summary(fm.lm.mom)

Call:
lm(formula = Height ~ momheight, data = fm.df)

Residuals:
    Min      1Q  Median      3Q     Max
-4.9600 -1.5015  0.0068  1.5234  6.5566

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 34.02227    3.64058   9.345  < 2e-16 ***
momheight    0.48340    0.05716   8.457 4.45e-15 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 2.328 on 212 degrees of freedom
Multiple R-squared:  0.2523,	Adjusted R-squared:  0.2488
F-statistic: 71.53 on 1 and 212 DF,  p-value: 4.446e-15

In [22]:
summary(fm.lm.dad)

Call:
lm(formula = Height ~ dadheight, data = fm.df)

Residuals:
    Min      1Q  Median      3Q     Max
-4.5786 -1.5786 -0.0722  1.4390  5.9406

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 30.51902    3.20941   9.509   <2e-16 ***
dadheight    0.49362    0.04619  10.687   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 2.17 on 212 degrees of freedom
Multiple R-squared:  0.3501,	Adjusted R-squared:  0.3471
F-statistic: 114.2 on 1 and 212 DF,  p-value: < 2.2e-16

In [24]:
round(anova(fm.lm.mom),1)

          Df  Sum Sq Mean Sq F value Pr(>F)
momheight   1  387.7 387.7   71.5     0
Residuals 212 1149.0   5.4     NA    NA

In [25]:
round(anova(fm.lm.dad),1)

          Df  Sum Sq Mean Sq F value Pr(>F)
dadheight   1 538.0  538.0   114.2    0
Residuals 212 998.6    4.7      NA   NA

In [26]:
cor(fm.df$momheight, fm.df$dadheight)

[1] 0.4020283

In [28]:
aug <- augment(fm.lm.dad)

In [33]:
head(aug,2)

  Height dadheight .fitted  .resid      .std.resid  .hat        .sigma
1 66     71        65.56581  0.43419214  0.20063978 0.005812683 2.175286
2 64     68        64.08496 -0.08495765 -0.03925421 0.005577785 2.175484
  .cooksd
1 1.176827e-04
2 4.321490e-06

In [31]:
sum((fm.lm.dad$fitted.values - mean(fm.df$Height)) ^2) ## SSR for dad

[1] 538.0324

In [34]:
sum((fm.lm.mom$fitted.values - mean(fm.df$Height)) ^2) ## SSR for mom

[1] 387.6611

In [37]:
round(anova(lm(Height ~ dadheight + momheight, data=fm.df)),1)

          Df  Sum Sq Mean Sq F value Pr(>F)
dadheight   1 538.0  538.0   130.4    0
momheight   1 128.1  128.1    31.1    0
Residuals 211 870.5    4.1      NA   NA